body {
  background-color: #000;
  max-width: 700px;
  margin: 0 auto;
}
.background {
  width: 100%;
  margin: 0 auto;
}

.pac {
  width: 25px;
  position: absolute;
  left: 0px;
  /* top: 425px; */
}
